.firstcolumn {
  width: 70%;
  max-width: 768px;
}

.logoa {
  max-width: 192px;
}
.logo-container {
  width: fit-content;
}

.secondcolumn {
  width: 30%;
  background-color: rgba(15, 194, 192, 0.1); /*lightest teal on rgba*/
}

.descriptionforarticle {
  text-indent: 1rem;
}
.otherlink,
.otherlink:hover {
  cursor: pointer;
  color: black;
}

.tealcolor {
  color: var(--teal);
}

.subtitle {
  font-size: 24px;
}

img {
  width: 100%;
  max-width: 300px;
  /* float: left; */
}

.left {
  float: left;
}
.right {
  float: right;
}

.containerofcard {
  width: fit-content;
  margin: auto;
}
.cardimage {
  position: relative;
  width: 100%;
}

.textoverimage,
.cardtextinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FLIP CARD STYLING -----------------------*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  width: 250px;
  height: 250px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; /* dont erase, keeps it in place */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: var(--lightest-teal);
  color: white;
  transform: rotateY(180deg);
}

.articles-show {
  width: fit-content;
  margin: auto;
}

.article1-show,
.article2-show,
.article3-show {
  border-bottom: 1px solid var(--teal);
  cursor: pointer;
  transition: transform 0.5s, background 0.5s;
  overflow: hidden;
}

.article1-show:hover,
.article2-show:hover,
.article3-show:hover {
  transform: scale(1.05);
  background: rgba(15, 194, 192, 0.1);
}

.articleshowtitle,
.articleshowparagraph {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

.article-show-image {
  max-width: 50px;
}

@media screen and (max-width: 768px) {
  .maincontainerofmainpage {
    flex-direction: column-reverse;
  }
  .secondcolumn {
    background-color: transparent;
    width: 100%;
  }
}
